<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nora mazy - Merci</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/profile.css"%}">
    <link rel="icon" href="{% static "images/favicon.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/reserv/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/reserv/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/reserv/component.css" %}" />
		<script src="js/modernizr.custom.js"></script>

</head>
<body>

<script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'Accueil' %}";
        }, 6000);
    </script>

  <div class="nav-right visible-xs">
  <div class="button" id="btn">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
</div>
<!-- nav-right -->

{% load static %}
<main style="background-image: url({% static "images/fondProfile.jpg"%}); background-repeat: no-repeat; background-size: cover;">
  <h1 class="merciTemp">Votre compte a bien été supprimé.</h1>
    <h3 class="merciTemp">Vous allez automatiquement être redirigé vers la page d'accueil</h3>
</main>

  <script src="{% static "js/reserv/svgcheckbx.js" %}"></script>
<script src="{% static "js/profile.js" %}"></script>
</body>
</html>