{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Nora Mazy - Modification de mes données</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/editProf.css"%}">
</head>

<body style="background-image: url({% static "images/passwordBack.jpg"%}); background-repeat: no-repeat; background-size: cover;">
    <a class="btn btn-dark monCompteButton" style="margin: 1%;" href="{% url 'users:profile' %}">Mon compte</a>
    <h4 class="helloUser">Modification de mes données</h4>
    <div class="container">
        <form method="post">
            {% load i18n %}
            {% language 'fr' %}
                {% csrf_token %}
                {{ form|crispy }}
            {% endlanguage %}
        </form>
        <div class="modifSuppButton">
            <button class="btn btn-dark" type="submit">Modifier</button>
            <p></p>
            <button type="submit" class="btn btn-dark"><a href="{% url 'users:suppressionPage' %}" class="text-white">Supprimer mon compte</a></button>
        </div>
        <br>
    </div>
</body>
</html>