

{% load static %}
<title>Nora Mazy - Connexion</title>
<meta name="viewport" content="width=device-width">
<link rel="icon" href="{% static "images/favicon.png" %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/main.css"%}">
</head>


<body style="background-image: url({% static "images/NoraMazy.jpg"%});">
    <a class="btn btn-dark accueilButton" style="margin: 1%;" href="{% url 'Accueil' %}">Accueil</a>
        <div class="loginForm">
            <h1 style="text-align: center;">Connexion</h1>
            {% load crispy_forms_filters %}
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <script>
                        function enableBtn(){
                            document.getElementById("button2").disabled = false;
                        }
                    </script>
                    <div class="g-recaptcha col-sm-13" data-sitekey="6LePcsYZAAAAALlzceDG4_3M1e8Kgcr3kCMPwLJA" data-callback="enableBtn"></div>
                </div>
                <button type="submit" class="btn btn-primary" id="button2" disabled="disabled">Se connecter</button>
            </form>
        </div>
</body>