<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nora Mazy - Créer un compte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="icon" href="{% static "images/favicon.jpg" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="background-image: url({% static "images/NoraMazy.jpg"%}); background-repeat: no-repeat; background-size: cover;">



<a class="btn btn-dark" style="margin: 1%;" href="{% url 'Accueil' %}">Accueil</a>


<div id="form-main">
  <div class="loginForm1">

<h1 style="text-align: center; padding-bottom: 5%;">Je crée mon compte</h1>

{% load crispy_forms_filters %}

{% load i18n %}
            {% language 'fr' %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function enableBtn(){
            document.getElementById("button1").disabled = false;
        }
    </script>
    <div class="g-recaptcha" data-sitekey="6LePcsYZAAAAALlzceDG4_3M1e8Kgcr3kCMPwLJA" data-callback="enableBtn"></div>
  <button type="submit" class="btn btn-primary mt-3" id="button1" disabled="disabled">Je m'inscris</button>
</form>
      {% endlanguage %}
</div>
</div>

</body>
</html>