<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nora mazy - Merci</title>
    {% load static %}
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="{% static "images/favicon.png" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="js/modernizr.custom.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/reserv/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/reserv/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/reserv/component.css" %}" />
        <link rel="stylesheet" href="{% static "css/profile.css"%}">

</head>
<body>
  <div class="nav-right visible-xs">
  <div class="button" id="btn">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
</div>
<!-- nav-right -->

{% load static %}
<main style="background-image: url({% static "images/fondProfile.jpg"%}); background-repeat: no-repeat; background-size: cover;">
    <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
    <!-- nav-right -->
  </nav>

  <a href="https://codepen.io/tonkec/" class="ua" target="_blank">
    <i class="fa fa-user"></i>
  </a>
  <h1 class="merciTemp">Êtes-vous certain de vouloir supprimer votre compte ?</h1>
    <h3 class="merciTemp">Cette action est irréversible et supprimera intégralement vos données.</h3>
    <p></p>
    <p></p>
    <p></p>
    <div class="p-3 mb-4">

          <div class="text-center">
            <button type="submit" class="btn btn-danger btn-lg"><a href="{% url 'users:suppressionCompte' %}" class="text-white">Supprimer mon compte</a></button>
          </div>

        </div>
</main>

<div class="sidebar">
  <ul class="sidebar-list">
      <li class="sidebar-item"><a href="{% url 'Accueil' %}" class="sidebar-anchor">Accueil</a></li>
    <li class="sidebar-item"><a href="{% url 'users:profile' %}" onclick="test()" class="sidebar-anchor active" data-rel="1">Mon compte</a></li>
    <li class="sidebar-item"><a href="{% url 'users:reservation' %}" onclick="test()" class="sidebar-anchor" data-rel="2">Réserver un soin</a></li>
    <li class="sidebar-item"><a href="{% url 'users:mesReserv' %}" onclick="test()" class="sidebar-anchor" data-rel="3">Mes réservations</a></li>
    <li class="sidebar-item"><a href="{% url 'users:monHisto' %}" onclick="test()" class="sidebar-anchor" data-rel="4">Mon historique</a></li>
  </ul>
</div>

  <script src="{% static "js/reserv/svgcheckbx.js" %}"></script>
<script src="{% static "js/profile.js" %}"></script>
</body>
</html>