@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  overflow: auto;
  z-index: 2;
  position: relative;
  height: 100%;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

@media (min-width: 100px) {
  .sidebar {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    background-color: black;
  }
}

@media (min-width: 700px) {
  .sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    background-color: black;
  }
}



.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: black;
  margin: 10px auto;
}

.button {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  right: 3%;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 10% 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

@media (min-width: 100px) {
  .sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
}

@media (min-width: 700px) {
  .sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

section {
    margin: auto;
    display: none;
}

.myData{
  font-family: 'lato', sans-serif;
  background-color: black;
  color:white;
  margin-left:40%;
  margin-right:40%;
  border-radius: 30%;
  margin-bottom: 10%;
}

.menuButton{
  font-size:310%;
  float: left;
}

.merciTemp{
  text-align: center;
  color: black;
}



@media only screen and (max-width: 3000px) {
  h4{
    text-align: center;
  }

  .compteAff{
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }

  .formLeft{
    text-align: left;
  }

  .commentDate{
    text-align: center;
  }

  .commentDate label{
        padding:0;
  }

  .option{
    font-size: 110%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .helloUser{
    padding:0%;
    margin-top:3%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 400%;
    text-align: center;
  }

  .titrePersoSpace{
    margin-top:3%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 350%;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }


  .responsive-table li {
    border-radius: 3px;
    width: 95%;
    margin-bottom: 40px;
    list-style-type: none;
  }

  .table-row-green {
    background-color: rgba(154, 201, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding: 2%;
    padding-bottom: 3.5%;
    font-weight: 500;
    font-size: 130%;
  }

  .table-row-red {
    background-color: rgba(201, 141, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding: 2%;
    padding-bottom: 3.5%;
    font-weight: 500;
    font-size: 130%;
  }

  .table-row-white {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding: 2%;
    padding-bottom: 3.5%;
    font-weight: 500;
    font-size: 130%;
  }

  .left {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2%;
  }

  .right {
    text-align: center;
  }

  .text-center {
    margin: auto;
  }

  .persoData {
    font-size: 140%;
    text-align: center;
  }

  .btn-lg{
    font-size: 150%;
    padding: 2%;
    margin-bottom: 5%;
  }

  .reservButton{
    font-size: 170%;
  }

  .ac-custom {
    font-size: 100%;
  }

  .remarques{
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
  }
}

@media only screen and (max-width: 1200px) {
  h4{
    text-align: center;
  }

  .compteAff{
    margin-left: auto;
    margin-right: auto;
    width: 70%
  }

  .formLeft{
    text-align: left;
  }

  .commentDate{
    text-align: center;
  }

  .commentDate label{
        padding:0;
  }

  .option{
    font-size: 150%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .titrePersoSpace{
    margin-top:12%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 350%;
  }

  .helloUser{
    margin-top:12%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 350%;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }

  ul{
    padding-left:35px;
    margin-bottom: 10%;
  }

  .responsive-table li {
    border-radius: 3px;
    width: 95%;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .table-row-green {
    background-color: rgba(154, 201, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 5.5%;
    font-weight: 500;
    font-size: 150%;
  }

  .table-row-red {
    background-color: rgba(201, 141, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 5.5%;
    font-weight: 500;
    font-size: 150%;
  }

  .table-row-white {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 5.5%;
    font-weight: 500;
    font-size: 150%;
  }

  .left {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2%;
  }

  .right {
    text-align: center;
  }

  .text-center {
    margin: auto;
  }

  .persoData {
    text-align: center;
    font-size: 150%;
    margin-bottom: 10%;
  }

  .btn-lg{
    font-size: 200%;
    margin-bottom: 5%;
  }

  .reservButton{
    font-size: 190%;
  }

  .ac-custom {
    font-size: 90%;
  }

  .remarques{
    font-size: 150%;
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
  }

}

@media only screen and (max-width: 800px) {
  h4{
    text-align: center;
  }

  .compteAff{
    margin-left: auto;
    margin-right: auto;
    width: 75%
  }

  .formLeft{
    text-align: left;
  }

  .commentDate{
    text-align: center;
  }

  .commentDate label{
        padding:0;
  }

  .option{
    font-size: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .titrePersoSpace{
    margin-top:20%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 250%;
  }

  .helloUser{
    margin-top:20%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 250%;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }

  ul{
    padding-left:10px;
    margin-bottom: 10%;
  }

  .responsive-table li {
    border-radius: 3px;
    width: 95%;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .table-row-green {
    background-color: rgba(154, 201, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 7%;
    font-weight: 500;
    font-size: 80%;
  }

  .table-row-red {
    background-color: rgba(201, 141, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 7%;
    font-weight: 500;
    font-size: 80%;
  }

  .table-row-white {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 7%;
    font-weight: 500;
    font-size: 80%;
  }

  .left {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2%;
  }

  .right {
    text-align: center;
  }

  .text-center {
    margin: auto;
  }

  .persoData {
    text-align: center;
    font-size: 100%;
    margin-bottom: 15%;
  }

  .btn-lg{
    font-size: 60%;
    margin-bottom: 5%;
  }

  .reservButton{
    font-size: 190%;
  }

  .ac-custom {
    font-size: 60%;
  }

  .remarques{
    font-size: 110%;
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
  }

}

@media only screen and (max-width: 400px) {
    h4{
    text-align: center;
  }

  .compteAff{
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }

  .formLeft{
    text-align: left;
  }

  .commentDate{
    text-align: center;
  }

  .commentDate label{
        padding:0;
  }

  .option{
    font-size: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .titrePersoSpace{
    margin-top:20%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 150%;
  }

  .helloUser{
    margin-top:20%;
    margin-bottom:3%;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 250%;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }

  ul{
    padding-left:10px;
    margin-bottom: 10%;
  }

  .responsive-table li {
    border-radius: 3px;
    width: 95%;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .table-row-green {
    background-color: rgba(154, 201, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 8.5%;
    font-weight: 500;
    font-size: 80%;
  }

  .table-row-red {
    background-color: rgba(201, 141, 121, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 8.5%;
    font-weight: 500;
    font-size: 80%;
  }

  .table-row-white {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding-top: 4%;
    padding-bottom: 8.5%;
    font-weight: 500;
    font-size: 80%;
  }

  .left {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2%;
  }

  .right {
    text-align: center;
  }

  .text-center {
    margin: auto;
  }

  .persoData {
    text-align: center;
    font-size: 100%;
    margin-bottom: 15%;
  }

  .btn-lg{
    margin-bottom: 5%;
  }

  .reservButton{
    font-size: 170%;
  }

  .ac-custom {
    font-size: 60%;
  }

  .remarques{
    font-size: 100%;
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
  }
}





