



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/



body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}



.loginForm {
  border-radius: 30%;
  background-color: rgba(245, 245, 245, 0.9);
}



