<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/profile.css"%}">

</head>
<body>



  <div class="nav-right visible-xs">
  <div class="button" id="btn">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
</div>
<!-- nav-right -->
<main>
  <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
    <!-- nav-right -->
  </nav>

  <a href="https://codepen.io/tonkec/" class="ua" target="_blank">
    <i class="fa fa-user"></i>
  </a>


      <section>
    <article>
       <h4>Hello {{ user.forename }}</h4>
        <p>Here is you data :</p>
        <p>Username : {{ user.forename }}</p>
        <p>name : {{ user.name }}</p>
        <p>email : {{ user }}</p>
        <p>Adresse : {{ user.adress1 }}  {{ user.adress2 }}</p>
        <p>Date de naissance : {{ user.dateNaiss }}</p>
        <p>Mes points de fidelité : {{ user.fidelity }}</p>
        <br>
        <button type="submit"> <a href="{% url 'users:edit_profile' %}" class="nav-link">Changer mes informations</a></button>
    </article>
  </section>

  <section>
    <article>
      <h4>Section 2</h4>
    </article>
  </section>

  <section>
    <article>
      <h4>Section 3</h4>
    </article>
  </section>

  <section>
    <article>
      <h4>Section 4</h4>
    </article>
  </section>


</main>

<div class="sidebar">
  <ul class="sidebar-list">
      <li class="sidebar-item"><a href="{% url 'Accueil' %}" class="sidebar-anchor">Accueil</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" data-rel="1" class="active">Mon compte</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" data-rel="2">Réserver un soin</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" data-rel="3">Mes réservations</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" data-rel="4">Mon historique</a></li>
  </ul>
</div>

<script src="{% static "js/profile.js" %}"></script>
</body>
</html>