<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/profile.css"%}">

</head>
<body>



  <div class="nav-right visible-xs">
  <div class="button" id="btn">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
</div>
<!-- nav-right -->

{% load static %}
<main style="background-image: url({% static "images/fondProfile.jpg"%}); background-repeat: no-repeat; background-size: cover;">
  <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
    <!-- nav-right -->
  </nav>

  <a href="https://codepen.io/tonkec/" class="ua" target="_blank">
    <i class="fa fa-user"></i>
  </a>


    <div id="compteCache" class="compteAff">
        <article>
           <h4 class="helloUser">Hello {{ user.forename }}</h4>
            <p>Here is you data :</p>
            <div class="container">
              <ul class="responsive-table">
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Username</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.forename }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">name</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.name }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">email</div>
                  <div class="col col-2" data-label="Customer Name">{{ user }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Tel</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.phone }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Adresse</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.adress1 }}  {{ user.adress2 }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Date de naissance</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.dateNaiss }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Mes points de fidelité</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.fidelity }}</div>
                </li>
              </ul>
                <button type="submit"> <a href="{% url 'users:edit_profile' %}" class="nav-link">Changer mes informations</a></button>
            </div>
        </article>
  </div>

    <section class="compteAff">
        <article>
           <h4 class="helloUser">Hello {{ user.forename }}</h4>
            <p>Here is you data :</p>
            <div class="container">
              <ul class="responsive-table">
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Username</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.forename }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">name</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.name }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">email</div>
                  <div class="col col-2" data-label="Customer Name">{{ user }}</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Tel</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.phone }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Adresse</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.adress1 }}  {{ user.adress2 }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Date de naissance</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.dateNaiss }}</div>
                </li>
                  <li class="table-row">
                  <div class="col col-1" data-label="Job Id">Mes points de fidelité</div>
                  <div class="col col-2" data-label="Customer Name">{{ user.fidelity }}</div>
                </li>
              </ul>
                <button type="submit"> <a href="{% url 'users:edit_profile' %}" class="nav-link">Changer mes informations</a></button>
            </div>
        </article>
  </section>

  <section>
    <article>
      <h4>Faites votre réservation</h4>
        <form action="#" method="post">
            {% csrf_token %}
            {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
    </article>
  </section>

  <section>
    <article>
      <h4>Section 3</h4>
    </article>
  </section>

  <section>
    <article>
      <h4>Section 4</h4>
    </article>
  </section>


</main>

<div class="sidebar">
  <ul class="sidebar-list">
      <li class="sidebar-item"><a href="{% url 'Accueil' %}" class="sidebar-anchor">Accueil</a></li>
    <li class="sidebar-item"><a href="{% url 'users:profile' %}" onclick="test()" class="sidebar-anchor" data-rel="1" class="active">Mon compte</a></li>
    <li class="sidebar-item"><a href="{% url 'users:reservation' %}" onclick="test()" class="sidebar-anchor" data-rel="2">Réserver un soin</a></li>
    <li class="sidebar-item"><a href="{% url 'users:mesReserv' %}" onclick="test()" class="sidebar-anchor" data-rel="3">Mes réservations</a></li>
    <li class="sidebar-item"><a href="{% url 'users:monHisto' %}" onclick="test()" class="sidebar-anchor" data-rel="4">Mon historique</a></li>
  </ul>
</div>

<script src="{% static "js/profile.js" %}"></script>
</body>
</html>